@page
@model TransporteBusesApp.Frontend.Pages.ListBusModel
@{
}

<div class="page-heading">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="top-text header-text">
                <h6>Buses</h6>
                <h2>Administrar Lista de Buses</h2>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="card row pl-5 ml-5 mt-0 pt-3 pr-5 mr-5">
    <div class="col-3">
        <a asp-page="/Buses/Create" class="btn btn-outline-info">Crear Bus</a>
    </div>
    
    <table class="table table-striped table-bordered col-12 mt-4">
    <thead>
        <tr>
            <th scope="col"><label asp-for="Buses.FirstOrDefault().id"></label></th>
            <th scope="col"><label asp-for="Buses.FirstOrDefault().marca"></label></th>
            <th scope="col"><label asp-for="Buses.FirstOrDefault().modelo"></label></th>
            <th scope="col"><label asp-for="Buses.FirstOrDefault().kilometraje"></label></th>
            <th scope="col"><label asp-for="Buses.FirstOrDefault().nro_asientos"></label></th>
            <th scope="col"><label asp-for="Buses.FirstOrDefault().placa"></label></th>
            <th scope="col"><label>Acciones</label></th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Buses.Count() > 0)
        {
            @foreach(var item in Model.Buses)
            {
                <tr>
                    <th scope="row">@Html.DisplayFor(m =>item.id)</th>
                    <td>@Html.DisplayFor(m =>item.marca)</td>
                    <td>@Html.DisplayFor(m =>item.modelo)</td>
                    <td>@Html.DisplayFor(m =>item.kilometraje)</td>
                    <td>@Html.DisplayFor(m =>item.nro_asientos)</td>
                    <td>@Html.DisplayFor(m =>item.placa)</td>
                    <td >
                        <a class="btn btn-success" asp-page="/Buses/Details" asp-route-busId="@item.id">Ver</a>
                        <a class="btn btn-info " asp-page="/Buses/Edit" asp-route-busId="@item.id">Editar</a>
                        
                        <form asp-route-id="@item.id" asp-page-handler="Delete"  >
                        <button class="btn btn-danger"  onclick="return Confirmacion(this)" >Eliminar</button>
                        </form>
                        
                    </td>
                </tr>
            }
            
        }
        else
        {
            <tr>
                <td>
                    <p>No Buses disponibles</p>
                </td>
            </tr>
        }
    </tbody>
</table>

</div>

@section scripts{

<script type="text/javascript "src="~/js/notificaciones.js">
    
</script>
}
        
        
    

        

