@page
@model TransporteBusesApp.Frontend.Pages.ListEstacionesModel
@{
}

<div class="page-heading">
  <div class="container">
    <div class="row">
      <div class="col-lg-8">
        <div class="top-text header-text">
          <h6>Estaciones</h6>
          <h2>Administrar Lista de Estaciones</h2>
        </div>
      </div>
    </div>
  </div>
</div>

<div>
    <partial name="_NotificationsPartial"></partial> @* se agrega la vista parcial de la notificacion *@
</div>

<div class="card row pl-5 ml-5 mt-3 pt-3 pr-5 mr-5">
  <div class="col-3">
    <a asp-page="/Estaciones/Create" class="btn btn-outline-info">Crear Estación</a>
  </div>

  <table class="table table-striped table-bordered col-12 mt-4">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nombre</th>
        <th scope="col">Direccion</th>
        <th scope="col">Coordenada X</th>
        <th scope="col">Coordenada Y</th>
        <th scope="col">Tipo</th>
        <th scope="col">Acciones</th>
      </tr>
    </thead>
    <tbody>
      @foreach (var estacion in Model.Estaciones)
      {
        <tr>
          <td>@estacion.id</td>
          <td>@estacion.nombre</td>
          <td>@estacion.direccion</td>
          <td>@estacion.coord_x</td>
          <td>@estacion.coord_y</td>
          <td>@estacion.tipo</td>
          <td>
            <a class="btn btn-info" asp-page="./Details" asp-route-estacionId="@estacion.id"><i class="fa fa-eye"></i> Ver</a>
            <a class="btn btn-info" asp-page="./Edit" asp-route-estacionId="@estacion.id"><i class="fa fa-pencil"></i> Editar</a>
            <a class="btn btn-danger btn-delete text-white"  onclick="alerta_eliminar(@estacion.id, '@estacion.nombre')"><i class="fa fa-trash-o"></i> Eliminar</a>
            <form method="POST" asp-route-id="@estacion.id" asp-page-handler="Delete" id="form_delete_@estacion.id">
              <input type="hidden" class="form-control d-none" asp-for="@estacion.id">
            </form>
          </td>
        </tr>
      }
    </tbody> 
  </table>
</div>

<script>
  function alerta_eliminar(id, nombre) {
    Swal.fire({
      title: 'Esta seguro de eliminar la estación '+nombre+'?',
      text: "Si se elimina no se podra revertir",
      icon: 'warning',
      showCancelButton: true,
      confirmButtonColor: '#3085d6',
      cancelButtonColor: '#d33',
      confirmButtonText: 'Si, borralo!'
    })
    .then((result) => {
      if (result.isConfirmed) {
        $('#form_delete_'+id).submit();       
      }
    });
  }
</script>